################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/API/bin
/src/API/obj/Debug
/src/packages
/src/UnitTests/bin/Debug
/src/UnitTests/obj/Debug
/src/Web/ClientApp/.vscode
/src/Web/.config
/src/Web/ClientApp/.env
/src/API/Web.config
/src/API/obj/Release
/src/UnitTests/obj/Release
/src/BrowserSnapshotWorkerRole/obj/Debug
*.user
/src/BrowserSnapshotCloudService/ServiceConfiguration.Local.cscfg
/src/BrowserSnapshotCloudService/ServiceConfiguration.Cloud.cscfg
/src/BrowserSnapshotCloudService/obj/Debug
/src/BrowserSnapshotWorkerRole/bin/Debug
/src/WorkerRoleWithSBQueue1/obj/Debug
/src/BrowserSnapshotCloudService/bin/Debug
/src/BrowserSnapshotCloudService/csx/Debug
/src/Models/obj
/src/Models/bin/Debug/netstandard2.0
/src/Tests/bin/Debug/net6.0
/src/Tests/obj
/src/Web/appsettings.json
src/Tests/bin/Release/net6.0/CoverletSourceRootsMapping
